USE [master]
GO
/****** Object:  Database [lolkek]    Script Date: 03-Jun-24 6:08:06 PM ******/
CREATE DATABASE [lolkek]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lolkek', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\lolkek.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lolkek_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\lolkek_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lolkek].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lolkek]
GO
/****** Object:  Table [dbo].[TbЗаказ]    Script Date: 03-Jun-24 6:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbЗаказ](
	[Код_Заказа] [int] IDENTITY(1,1) NOT NULL,
	[Пользователь] [int] NULL,
	[Товар] [int] NULL,
	[Стастус] [int] NULL,
 CONSTRAINT [PK_TbЗаказ] PRIMARY KEY CLUSTERED 
(
	[Код_Заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbКатегории]    Script Date: 03-Jun-24 6:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbКатегории](
	[Код_Категории] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NULL,
 CONSTRAINT [PK_TbКатегории] PRIMARY KEY CLUSTERED 
(
	[Код_Категории] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbПользоавтели]    Script Date: 03-Jun-24 6:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbПользоавтели](
	[Код_Пользователся] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [nvarchar](50) NULL,
	[Пароль] [nvarchar](50) NULL,
	[Роль] [int] NULL,
 CONSTRAINT [PK_TbПользоавтели] PRIMARY KEY CLUSTERED 
(
	[Код_Пользователся] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbРоли]    Script Date: 03-Jun-24 6:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbРоли](
	[Код_роли] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NULL,
 CONSTRAINT [PK_TbРоли] PRIMARY KEY CLUSTERED 
(
	[Код_роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbСтатус]    Script Date: 03-Jun-24 6:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbСтатус](
	[Код_Статуса] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NULL,
 CONSTRAINT [PK_TbСтатус] PRIMARY KEY CLUSTERED 
(
	[Код_Статуса] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbТовары]    Script Date: 03-Jun-24 6:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbТовары](
	[Код_Товара] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NULL,
	[Описание] [nvarchar](50) NULL,
	[Категория] [int] NULL,
	[Стоимость] [money] NULL,
	[Путь_картинки] [nvarchar](max) NULL,
 CONSTRAINT [PK_TbТовары] PRIMARY KEY CLUSTERED 
(
	[Код_Товара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TbЗаказ]  WITH CHECK ADD  CONSTRAINT [FK_TbЗаказ_TbПользоавтели] FOREIGN KEY([Пользователь])
REFERENCES [dbo].[TbПользоавтели] ([Код_Пользователся])
GO
ALTER TABLE [dbo].[TbЗаказ] CHECK CONSTRAINT [FK_TbЗаказ_TbПользоавтели]
GO
ALTER TABLE [dbo].[TbЗаказ]  WITH CHECK ADD  CONSTRAINT [FK_TbЗаказ_TbСтатус] FOREIGN KEY([Стастус])
REFERENCES [dbo].[TbСтатус] ([Код_Статуса])
GO
ALTER TABLE [dbo].[TbЗаказ] CHECK CONSTRAINT [FK_TbЗаказ_TbСтатус]
GO
ALTER TABLE [dbo].[TbЗаказ]  WITH CHECK ADD  CONSTRAINT [FK_TbЗаказ_TbТовары] FOREIGN KEY([Товар])
REFERENCES [dbo].[TbТовары] ([Код_Товара])
GO
ALTER TABLE [dbo].[TbЗаказ] CHECK CONSTRAINT [FK_TbЗаказ_TbТовары]
GO
ALTER TABLE [dbo].[TbПользоавтели]  WITH CHECK ADD  CONSTRAINT [FK_TbПользоавтели_TbРоли] FOREIGN KEY([Роль])
REFERENCES [dbo].[TbРоли] ([Код_роли])
GO
ALTER TABLE [dbo].[TbПользоавтели] CHECK CONSTRAINT [FK_TbПользоавтели_TbРоли]
GO
ALTER TABLE [dbo].[TbТовары]  WITH CHECK ADD  CONSTRAINT [FK_TbТовары_TbКатегории] FOREIGN KEY([Категория])
REFERENCES [dbo].[TbКатегории] ([Код_Категории])
GO
ALTER TABLE [dbo].[TbТовары] CHECK CONSTRAINT [FK_TbТовары_TbКатегории]
GO
USE [master]
GO
